body {
  max-width: 700px;
  max-height: 485px;
  border: #97e6e1 solid thin;
  padding: 65px 50px;
  border-radius: 3%;
  margin: auto;
  margin-top: 40px;
  border-inline-color: rgb(247, 230, 215);
}

form {
  margin-bottom: 60px;
  margin-top: -20px;
}
input {
  font-variant: small-caps;
}
h1 {
  color: #acaaaa;
  font-size: 115px;
  font-weight: 80;
  margin-left: 262px;
}
.degrees {
  color: #c6bfbf;
  font-size: 15px;
  font-weight: 100;
  position: fixed;
  margin-top: 25px;
}

#fahrenheit-link {
  color: #c6bfbf;
}
#fahrenheit-link,
.active {
  color: #495057;
  cursor: default;
}
#fahrenheit-link,
.active:hover {
  text-decoration: none;
}
#celcius-link {
  color: #b3abab;
}

h2 {
  font-size: 18px;
  font-weight: 100;
  color: #ffcf90;
  text-align: right;
  margin-right: 315px;
  margin-top: -245px;
}
#icon {
  width: 60px;
  margin-top: 60px;
}
#location {
  color: #6bd5ce;
  font-size: 28px;
}

#date {
  color: #8fd291;
  font-variant: small-caps;
}
.other {
  font-size: 16px;
  font-variant: small-caps;
}
#description {
  font-variant: small-caps;
  color: #b3abab;
}
hr {
  margin-top: 20px;
}
.weather-forecast-day {
  text-align: center;
}
.weather-forecast-day-min {
  opacity: 60%;
  font-size: 14px;
}
.weather-forecast {
  color: #b3abab;
  margin-top: 20px;
  margin-left: 10px;
}

.opensource {
  color: #87d5d0;
}
.gitlink {
  color: #c6bfbf;
  text-align: left;
  font-variant: small-caps;
  margin-top: 55px;
  margin-left: -55px;
}
