body {
  max-width: 700px;
  max-height: 475px;
  border: solid #97e6e1 thin;
  padding: 65px 50px;
  border-radius: 3%;
  margin: auto;
  margin-top: 40px;
}
form {
  margin-bottom: 60px;
  margin-top: -15px;
}
input {
  font-variant: small-caps;
}
h1 {
  color: #acaaaa;
  font-size: 115px;
  font-weight: 80;
  margin-left: 285px;
}
.degrees {
  color: #c6bfbf;
  font-size: 15px;
  font-weight: 100;
  position: fixed;
  margin-top: 25px;
}

#fahrenheit-link {
  color: #c6bfbf;
}
#fahrenheit-link,
.active {
  color: #495057;
  cursor: default;
}
#fahrenheit-link,
.active:hover {
  text-decoration: none;
}
#celcius-link {
  color: #c6bfbf;
}

h2 {
  font-size: 16px;
  font-weight: 100;
  color: #ffd084;
  text-align: right;
  margin-right: 300px;
  margin-top: -245px;
}
#icon {
  width: 60px;
  margin-top: 60px;
}
#location {
  color: #6bd5ce;
  font-size: 28px;
}

#date {
  color: #8fd291;
  font-variant: small-caps;
}
.other {
  font-size: 16px;
  font-variant: small-caps;
}
#description {
  font-variant: small-caps;
  color: #c6bfbf;
}
.weather-forecast {
  color: #c6bfbf;
  margin-top: 50px;
  margin-left: 10px;
}
.weather-forecast-day-max {
  color: #acaaaa;
}

.opensource {
  color: #87d5d0;
}
.gitlink {
  color: #c6bfbf;
  text-align: left;
  font-variant: small-caps;
  margin-top: 40px;
  margin-left: -55px;
}
