body {
  max-width: 600px;
  max-height: 325px;
  margin: auto;
  margin-top: 40px;
  border: solid #97e6e1 thin;
  padding: 60px 55px;
  font-variant: thin;
  border-radius: 3%;
}
h1 {
  color: rgb(198, 191, 191);
  font-size: 115px;
  font-weight: 100;
  margin-top: 20px;
  margin-left: 50px;
}
.fair {
  color: rgb(164, 156, 156);
  font-size: 25px;
  font-weight: 100;
  position: fixed;
  margin-top: 20px;
}
h2 {
  color: #ffd084;
  text-align: left;
  font-size: 16px;
  font-weight: 100;
  position: relative;
  margin-left: 245px;
  margin-top: -195px;
}
#location {
  color: #6bd5ce;
  font-size: 26px;
}
#description {
  color: #6bd5ce;
  font-size: 16px;
}
#date {
  color: #8fd291;
}
.other {
  font-size: 16px;
}
img {
  width: 60px;
}
.opensource {
  color: #87d5d0;
}
.gitlink {
  color: rgb(164, 156, 156);
  position: absolute;
  margin-top: 80px;
  margin-left: 80px;
}
